<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    <title>パスワード再設定</title>
</head>
<body>
    <div class="nagoyameshi-wrapper">
        <!-- ヘッダー -->
        <div th:replace="~{fragment :: header}"></div>

        <main>
            <div class="container pt-4 pb-5 nagoyameshi-container">
                <h1 class="text-center mb-4">パスワード再設定</h1>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <!-- 成功メッセージ -->
                        <div th:if="${successMessage}" class="alert alert-success-temporary-pass">
                            <span class="success-message-text" th:text="${successMessage}"></span>
                        </div>
                         <!-- エラーメッセージ -->
                        <div th:if="${errorMessage}" class="alert alert-danger">
                            <p th:text="${errorMessage}"></p>
                        </div>
                        <!-- フォーム -->
                        <form th:action="@{/reset-password}" method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label">メールアドレス</label>
                                <input type="email" id="email" name="email" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="tempPassword" class="form-label">仮パスワード</label>
                                <input type="password" id="tempPassword" name="tempPassword" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">新しいパスワード</label>
                                <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">新しいパスワード(確認用)</label>
                                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">パスワードを再設定する</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <!-- フッター -->
        <div th:replace="~{fragment :: footer}"></div>
    </div>

    <div th:replace="~{fragment :: scripts}"></div>
</body>
</html>
